.infoproductos{
    margin: 2rem 0;
    background-color: var(--celeste);
    padding: 3rem 0;
}

.infoproductos .articulo{
    border: 1px solid none;
    margin: 10vw;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    cursor: pointer;
    overflow: hidden;
    background-color: white;   
    transition: transform 0.3s ease, box-shadow 0.1s ease; /* <-- transición suave */
}

.infoproductos .articulo:hover {
    transform: scale(1.03); /* agranda un poco */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px; /* sombra más marcada */
}

.infoproductos .titulo{
    font-weight: 700;
    text-align: left;
    font-size: 2.25rem;
    margin-left: 10vw;
    color: var(--azul);
}

.infoproductos .articulo .img{
    width: 70vw;
    display: flex;
    margin: auto;
    margin-bottom: 1.5rem;
}

.infoproductos .articulo .subtitulo{
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}
