.infoproductos{
    margin: 2rem 0 0;
    background-color: #dfeeee;
    padding: 3rem 0;
}

.infoproductos .titulo{
  padding: 2vw 10vw;
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--azul);
}

.infoproductos .container{
  display: flex;
  margin: auto;
  flex-direction: column;
}

.infoproductos .container .card{
  width: 70vw;
  display: flex;
  flex-direction: column; /* importante para que la img vaya arriba y el texto abajo */
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoproductos .container .img{
  width: 100%;         /* ocupa todo el ancho de la card */
  height: auto;        /* mantiene proporción */
  object-fit: cover;   /* recorta si hace falta */
  display: block;      /* elimina márgenes raros de inline elements */
}

.infoproductos .container .card .subtitulo{
  font-size: 1.7rem;
  text-align: center;
  color: var(--azul);
  font-weight: 600;
  margin-top: 1rem;
  padding: 0 1rem;
}

.infoproductos a{
  text-decoration: none;
}


/* Estilos de la tarjeta por defecto */
.infoproductos .container .card {
  border: 1px solid #e2e8f0; /* Borde sutil */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición para la sombra y la elevación */
}

/* Efecto de sombra y elevación al pasar el cursor */
.infoproductos .container .card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}


@media (min-width: 768px){

  .infoproductos .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .infoproductos .container .card{
    width: 35vw;
  }
}

@media (min-width: 1024px){
  .infoproductos .container .card{
    width: 20vw;
  }
}

@media (min-width: 1440px){
  .infoproductos .container .card{
    width: 16vw;
  }
}