.contenedor-botonatras {
    display: flex;
    justify-content: flex-end; /* alinea a la derecha */
    margin: 1rem 1.5rem 0 1.5rem; /* separa del borde */
  }
  
  .botonatras {
    color: var(--naranja) !important;
    text-decoration: none !important;
    font-size: 1.1rem;
    font-weight: 600!important;
    margin-bottom: -1rem;
  }
  
  .botonatras:hover {
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 400!important;
  }
  



.productPage{
    padding: 5vw;
    margin: 2rem 1rem 5rem;
    background-color: #eff3f3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.productPage .img{
    width: 80vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 1.25rem auto 1rem;
}

.productPage .titulo{
    text-align: left;
    margin-left: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 6vw;
    margin-top: 0.5rem;
}

.productPage .precio{
    font-weight: 600;
    margin-left: 1vw;
    font-size: 7vw;
}

.productPage .boton-carrito{
    background-color: var(--naranja);
    border-radius: 10px;
    width: 50vw;
    max-width: 190px;
    margin-left: 0.5vw;
    padding: 0.55rem 0;
    margin-top: -0.25rem;
    border: none;
    text-align: left;
    padding-left: 0.75rem;
}

.productPage .formaPago{
    font-weight: 400;
    margin-left: 1vw;
    font-size: 1.1rem;
    margin-top: -0.65rem;
}

.productPage .caracteristicas{
  font-weight: 600;
  margin-left: 1vw;
  margin-top: 1.5rem;
  font-size: 1.15rem;
  border-top: 1px solid rgb(212, 212, 212);
  padding-top: 1rem;
}

.productPage .descripcion{
    margin-left: 1vw;
    margin-top: 0.75rem;
    font-size: 1.1rem;
}




.btn-back {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
  }
  
  .btn-back:hover {
    color: #000;
    text-decoration: underline;
  }
  
  @media(min-width: 768px){
    
    .productPage{
      margin: 2rem 5vw;
    }

    .botonatras {
     margin-right: 8vw;
    }

    .productPage .titulo{
      font-size: 4vw;
      margin-top: 2rem;
      margin-left: 0.5rem;
    }

    .productPage .img{
      width: 60vw;
    }

    .productPage .precio{
      font-size: 3.5vw;
    }

    .productPage .formaPago{
      font-size: 2.5vw;
    }
  }

  @media(min-width: 1024px){

    .productPage{
      margin: 2rem 10vw;
    }
  
    .productPage .conteinerGeneral{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 3rem;
      gap: 4rem; /* separación entre columnas */
    }
  
    .productPage .contenedorImagen{
      flex: 0 0 35vw; /* 👈 columna fija en 40vw */
      display: flex;
      justify-content: center;
    }
  
    .productPage .contenedorImagen .img{
      width: 100%;   /* la imagen ocupa toda la columna */
      max-width: 35vw;
      border-radius: 10px;
    }
  
    .productPage .contenedorData{
      flex: 1;        /* el resto del espacio para los textos */
      max-width: 600px;
    }
  
    .productPage .titulo{
      font-size: 2vw;
      margin-top: 2rem;
      margin-left: 0.5rem;
    }
  
    .productPage .precio{
      font-size: 2vw;
    }
  
    .productPage .formaPago{
      font-size: 1.5vw;
    }

    .productPage .boton-carrito{
      width: 40vw;
      max-width: 190px;
      margin-left: 0.5vw;
      padding: 0.55rem 0;
      text-align: left;
      padding-left: 0.75rem;
      font-size: 1.15rem;
  }

  .productPage .containerCaracteristicas{
    padding: 1rem 3rem 0;
  }

  .productPage .containerCaracteristicas .caracteristicas{
    margin-bottom: 1rem;
    padding-top: 1.5rem;
  }
  
  }
  

  @media(min-width: 1440px){
    .productPage{
      margin: 2rem 12vw 6rem;
    }

    .botonatras {
      margin-right: 11vw;
      margin-bottom: 0.25rem;
     }

    .productPage .contenedorImagen{
      flex: 0 0 30vw; /* 👈 columna fija en 40vw */
      display: flex;
      justify-content: center;
    }
  
    .productPage .contenedorImagen .img{
      width: 100%;   /* la imagen ocupa toda la columna */
      max-width: 25vw;
      border-radius: 10px;
    }

    .productPage .titulo{
      font-size: 2rem;
      margin-top: 2rem;
      margin-left: 0.5rem;
    }
  
    .productPage .precio{
      font-size: 1.8rem;
      margin-left: 0.5rem;
      margin-top: 1rem;
    }
  
    .productPage .formaPago{
      font-size: 1.25rem;
      margin-left: 0.5rem;
    }

    .productPage .boton-carrito{
      margin-top: 1rem;
  }

  .productPage .containerCaracteristicas{
    padding: 1rem 5rem 0;
  }

  .productPage .containerCaracteristicas .caracteristicas{
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
  }

  .productPage .containerCaracteristicas .descripcion{
    font-size: 1.35rem;
    margin-top: 1.5rem;
  }

  }