.header{
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/header/header.jpeg') center;
    background-size: cover;
    width: 100%;
    height: 65vh;
    padding: 1rem;
}

.header .titulo{
    text-align: center;
    padding: 21vh 3vw 0;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}

.subtitle-banner{
    font-size: 5vw;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.header .btn-secondary{
    background-color: var(--naranja);
    border: none;
    padding: 0.75rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;
    font-size: 4vw;
}

.header .buttonConsulta{
    text-decoration: none;
}

.btn:hover{
    background-color: var(--azul)!important;
}

@keyframes latido {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .boton-latido {
    animation: latido 2.5s infinite;
    transition: transform 0.3s ease-in-out;
  }

  @media (min-width: 768px){

    .header .titulo{
      padding: 21vh 3vw 0;
      font-size: 60px;
  }
  
  .subtitle-banner{
      font-size: 30px;
  }
  
  .header .btn-secondary{
      padding: 0.55rem 2rem;
      margin: 2rem auto 0;
      font-size: 3vw;
  }

  }

  @media (min-width: 1024px){
    .header .titulo{
      padding: 19vh 3vw 0;
      font-size: 66px;
  }
  
  .subtitle-banner{
      font-size: 35px;
  }
  
  .header .btn-secondary{
      padding: 0.55rem 2rem;
      margin: 2rem auto 0;
      font-size: 25px;
  }
  }

  @media (min-width: 1440px){
    .header .titulo{
      padding: 20vh 3vw 0;
      font-size: 76px;
  }
  
  .subtitle-banner{
      font-size: 40px;
  }
  
  .header .btn-secondary{
      padding: 0.55rem 2rem;
      margin: 2rem auto 0;
      font-size: 23px;
  }
    
  }