.navbar .logo{
    width: 15vw;
    margin: 0.25rem 1rem;
}

.navbar .nav-link{
    color: black!important;
    font-size: 1.15rem;
    margin-left: 1.5rem;
}

.navbar .dropdown-menu{
    border: none!important;
    background-color: #f8f9fa!important;
}

.navbar .dropdown-item{
    cursor: pointer;
    border-top: 1px solid #ccc;
  margin: 0.5rem;
  font-weight: 600;
}

.navbar .dropdown-item:first-child{
    border-top: none;
}

/* .navbar .dropdown-item:hover{
    background-color: red!important;
    opacity: 0.1;
} */