.footer{
   /*  background-color: var(--blanco); */
    margin-bottom: 0;
    padding: 0 1rem;
    padding-bottom: 1.5rem;
}

.footer .logo{
    width: 30vw;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}

.footer .texto{
    text-align: center;
    color: black;
    font-weight: 500;
}