.categoriasProductos{
    padding: 3vw;
    margin: 1rem 0.75rem 3rem;
    background-color: #eff3f3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.categoriasProductos .titulo{
    text-align: left;
    margin-left: 6vw;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--azul);
    font-size: 2.25rem;
}

.categoriasProductos .card{
    background-color: white;
    padding-bottom: 0.15rem;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.categoriasProductos .containerCard{
  padding: 0 3vw;
}



.categoriasProductos .card .titulo{
    margin-top: 1rem;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 0.5rem;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1.15rem;
}

/* .categoriasProductos .card .containerData .precio{
    margin-top: -0.75rem;
    margin-left: 0.5rem;
}
 */
 .categoriasProductos .card .containerData .boton-carrito {
    background-color: var(--naranja);
    margin: -0.5rem auto 0.75rem; /* auto centra en bloque */
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 0.45rem 1.5rem;
    width: fit-content;   /* se ajusta al contenido */
    display: block;       /* para que funcione bien el margin auto */
    text-align: center;
  }