.presentacion{
    background-color: white;
    padding: 1rem 0.5rem;
}

.presentacion .titulo{
    padding: 6vw 8vw 2vw;
    font-size: 2.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--azul);
}

.presentacion .texto{
    padding: 0vw 5vw;
    font-size: 1.15rem;   
    text-align: justify;
    margin: 0vw 3vw 0vw;
}